@charset "UTF-8";
* {
  box-sizing: border-box; }

body {
  color: #525252;
  font-family: "微软雅黑", "Microsoft YaHei", "Source Sans Pro", sans-serif;
  font-size: 16px;
  background: #fff url("/static/laravel/image/bar.png") repeat-x;
  padding-top: 10px; }

h1, h2, h3, h4 {
  -webkit-font-smoothing: antialiased; }

.container {
  max-width: 1080px;
  margin: 0 auto; }

a {
  color: #f4645f;
  text-decoration: none; }

h1 {
  font-size: 48px;
  font-weight: 200; }

p {
  line-height: 1.5;
  margin: 10px 0 20px; }
  p strong {
    -webkit-font-smoothing: antialiased; }

.contain {
  max-width: 880px;
  margin: 0 auto; }

p code {
  background: #f0f2f1;
  color: #f4645f;
  padding: 1px 5px;
  border-radius: 3px; }

code, kbd, pre, samp {
  font-family: source-code-pro, monospace;
  font-size: 14px; }

blockquote {
  background: #f4645f;
  color: #fff;
  border-radius: 3px;
  margin: 10px 0 20px;
  padding: 10px 15px; }
  blockquote p:last-child {
    margin: 0; }
  blockquote a {
    color: #fff; }

.items-wrapper {
  margin: 0 -15px 30px -15px; }
  .items-wrapper:after {
    content: "";
    display: table;
    clear: both; }

.third {
  position: relative;
  min-height: 1px;
  margin-right: 15px;
  margin-left: 15px;
  flex-basis: 33.333333%; }

@media all and (max-width: 800px) {
  .third {
    flex-basis: 100%; } }

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

.btn:hover,
.btn:focus,
.btn.focus {
  text-decoration: none; }

.btn:active,
.btn.active {
  outline: 0;
  background-image: none;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  box-shadow: none; }

.btn-default {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc; }

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333333;
  background-color: #e6e6e6;
  border-color: #adadad; }

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none; }

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #ffffff;
  border-color: #cccccc; }

.btn-default .badge {
  color: #ffffff;
  background-color: #333333; }

.btn-primary {
  color: #ffffff;
  background-color: #337ab7;
  border-color: #2e6da4; }

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #286090;
  border-color: #204d74; }

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none; }

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #337ab7;
  border-color: #2e6da4; }

.btn-primary .badge {
  color: #337ab7;
  background-color: #ffffff; }

.btn-success {
  color: #ffffff;
  background-color: #5cb85c;
  border-color: #4cae4c; }

.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: #449d44;
  border-color: #398439; }

.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-image: none; }

.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #5cb85c;
  border-color: #4cae4c; }

.btn-success .badge {
  color: #5cb85c;
  background-color: #ffffff; }

.btn-info {
  color: #ffffff;
  background-color: #5bc0de;
  border-color: #46b8da; }

.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #31b0d5;
  border-color: #269abc; }

.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  background-image: none; }

.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #5bc0de;
  border-color: #46b8da; }

.btn-info .badge {
  color: #5bc0de;
  background-color: #ffffff; }

.btn-warning {
  color: #ffffff;
  background-color: #f0ad4e;
  border-color: #eea236; }

.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  color: #ffffff;
  background-color: #ec971f;
  border-color: #d58512; }

.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  background-image: none; }

.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #f0ad4e;
  border-color: #eea236; }

.btn-warning .badge {
  color: #f0ad4e;
  background-color: #ffffff; }

.btn-danger {
  color: #ffffff;
  background-color: #d9534f;
  border-color: #d43f3a; }

.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  color: #ffffff;
  background-color: #c9302c;
  border-color: #ac2925; }

.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  background-image: none; }

.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #d9534f;
  border-color: #d43f3a; }

.btn-danger .badge {
  color: #d9534f;
  background-color: #ffffff; }

.btn-link {
  color: #337ab7;
  font-weight: normal;
  border-radius: 0; }

.btn-link,
.btn-link:active,
.btn-link.active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  box-shadow: none; }

.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent; }

.btn-link:hover,
.btn-link:focus {
  color: #23527c;
  text-decoration: underline;
  background-color: transparent; }

.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #777777;
  text-decoration: none; }

.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px; }

.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px; }

.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px; }

.btn-block {
  display: block;
  width: 100%; }

.btn-block + .btn-block {
  margin-top: 5px; }

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%; }

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear; }

.fade.in {
  opacity: 1; }

.collapse {
  display: none;
  visibility: hidden; }

.collapse.in {
  display: block;
  visibility: visible; }

tr.collapse.in {
  display: table-row; }

tbody.collapse.in {
  display: table-row-group; }

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease; }

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent; }

.dropup,
.dropdown {
  position: relative; }

.dropdown-toggle:focus {
  outline: 0; }

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box; }

.dropdown-menu.pull-right {
  right: 0;
  left: auto; }

.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5; }

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap; }

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5; }

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #337ab7; }

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #777777; }

.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed; }

.open > .dropdown-menu {
  display: block; }

.open > a {
  outline: 0; }

.dropdown-menu-right {
  left: auto;
  right: 0; }

.dropdown-menu-left {
  left: 0;
  right: auto; }

.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #777777;
  white-space: nowrap; }

.dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 990; }

.pull-right > .dropdown-menu {
  right: 0;
  left: auto; }

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px solid;
  content: ""; }

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px; }

@media (min-width: 768px) {
  .navbar-right .dropdown-menu {
    left: auto;
    right: 0; }
  .navbar-right .dropdown-menu-left {
    left: 0;
    right: auto; } }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.hidden {
  display: none !important;
  visibility: hidden !important; }

.affix {
  position: fixed; }

/* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript+php+php-extras+bash+sql+http */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
.docs article code[class*="language-"],
.docs article pre[class*="language-"] {
  font-size: 12px;
  line-height: 2.0;
  vertical-align: middle; }

code[class*="language-"],
pre[class*="language-"] {
  color: black;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.7;
  font-size: 11.5px;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc; }

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc; }

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none; } }

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 10px 0 20px;
  overflow: auto; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: rgba(238, 238, 238, 0.35);
  border-radius: 3px;
  padding: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125); }

/* Inline code */
:not(pre) > code[class*="language-"] {
  background: #f0f2f1;
  color: #f4645f;
  padding: 1px 5px;
  border-radius: 3px; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #999; }

.token.punctuation {
  color: #999; }

.namespace {
  opacity: .7; }

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #DA564A; }

.token.scope, .token.attr-name {
  color: #DA564A; }

.token.selector,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #2E7D32; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #555; }

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a; }

.token.function {
  color: #555; }

.token.regex,
.token.important,
.token.variable {
  color: #4EA1DF; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

pre.line-numbers {
  position: relative;
  padding-left: 3.8em;
  padding-top: 0px;
  margin-top: -1px;
  border-radius: 0;
  counter-reset: linenumber; }

pre.line-numbers > code {
  position: relative; }

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: -4px;
  padding-top: 0px;
  font-size: 100%;
  left: -3.8em;
  width: 3em;
  /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  background: #f0f2f1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber; }

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: 0.8em;
  text-align: right; }

.dark-code {
  /* Code blocks */
  /* Inline code */ }
  .dark-code code[class*="language-"],
  .dark-code pre[class*="language-"] {
    color: #f8f8f2;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none; }
  .dark-code pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
    border-radius: 0.3em; }
  .dark-code :not(pre) > code[class*="language-"],
  .dark-code pre[class*="language-"] {
    background: #272822; }
  .dark-code :not(pre) > code[class*="language-"] {
    padding: .1em;
    border-radius: .3em; }
  .dark-code .token.comment,
  .dark-code .token.prolog,
  .dark-code .token.doctype,
  .dark-code .token.cdata {
    color: slategray; }
  .dark-code .token.punctuation {
    color: #f8f8f2; }
  .dark-code .namespace {
    opacity: .7; }
  .dark-code .token.property,
  .dark-code .token.tag,
  .dark-code .token.constant,
  .dark-code .token.symbol,
  .dark-code .token.deleted {
    color: #f92672; }
  .dark-code .token.boolean,
  .dark-code .token.number {
    color: #ae81ff; }
  .dark-code .token.selector,
  .dark-code .token.attr-name,
  .dark-code .token.string,
  .dark-code .token.char,
  .dark-code .token.builtin,
  .dark-code .token.inserted {
    color: #a6e22e; }
  .dark-code .token.operator,
  .dark-code .token.entity,
  .dark-code .token.url,
  .dark-code .language-css .token.string,
  .dark-code .style .token.string,
  .dark-code .token.variable {
    color: #f8f8f2; }
  .dark-code .token.atrule,
  .dark-code .token.attr-value {
    color: #e6db74; }
  .dark-code .token.keyword {
    color: #66d9ef; }
  .dark-code .token.regex,
  .dark-code .token.important {
    color: #fd971f; }
  .dark-code .token.important,
  .dark-code .token.bold {
    font-weight: bold; }
  .dark-code .token.italic {
    font-style: italic; }
  .dark-code .token.entity {
    cursor: help; }

header.main {
  display: -webkit-box;
  display: flex;
  padding: 0;
  height: 80px;
  width: 100%;
  border-bottom: 1px solid #f0f2f1; }
  header.main:after {
    content: "";
    display: table;
    clear: both; }
  header.main .nav-block {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center; }
  header.main a.brand {
    border-right: 1px solid #f0f2f1;
    color: #f4645f;
    font: normal normal 300 18px/80px "Miriam Libre", "Source Sans Pro", "微软雅黑", "Microsoft YaHei", sans-serif;
    float: left;
    padding: 0 30px;
    text-decoration: none; }
    header.main a.brand:hover, header.main a.brand:active {
      color: #e74430; }
    header.main a.brand img {
      height: 32px;
      width: 48px;
      margin-right: 10px; }
  header.main .search {
    -webkit-box-flex: 1;
    flex: 1;
    -webkit-box-align: center;
    align-items: center;
    padding: 0 30px; }
  header.main .switcher {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0 15px;
    border-left: 1px solid #f0f2f1; }
    header.main .switcher .dropdown-menu {
      border-radius: 3px;
      min-width: 75px;
      right: 0;
      left: auto;
      margin-top: 10px;
      padding: 0;
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1); }
      header.main .switcher .dropdown-menu > li {
        border-bottom: 1px solid #f0f2f1; }
        header.main .switcher .dropdown-menu > li:last-child {
          border: none; }
      header.main .switcher .dropdown-menu > li > a {
        color: #525252;
        padding: 10px 20px;
        text-align: center; }
    header.main .switcher button {
      border: none;
      border-radius: 3px;
      background: #f4645f;
      color: #fff;
      padding: 10px 15px;
      font-size: 16px; }
      header.main .switcher button .faint {
        color: rgba(255, 255, 255, 0.5); }
      header.main .switcher button:hover, header.main .switcher button:active {
        background: #e74430;
        color: #fff; }

section.sidebar {
  border-right: 1px solid #f0f2f1;
  width: 250px;
  float: left;
  padding: 15px 0; }
  section.sidebar > ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    section.sidebar > ul > li {
      font-size: 13px;
      font-weight: 400;
      padding: 0 0 1.3rem;
      margin: 1.3rem 0 0; }
      section.sidebar > ul > li > ul {
        border-top: 1px dashed #f0f2f1;
        display: block;
        list-style: none;
        margin: 0.4rem 0 0;
        padding: 0.5rem 0 0 0;
        font-size: 13px; }
        section.sidebar > ul > li > ul > li {
          margin: 0.3rem 0 0 0; }
  section.sidebar a {
    line-height: 1.5;
    display: block; }
    section.sidebar a:hover {
      color: #e74430;
      text-decoration: none; }

.docs article {
  padding: 25px 55px 50px 50px;
  margin-left: 275px; }
  .docs article ul {
    font-size: 14px; }
  .docs article .content-list ul li {
    margin: 8px;
    line-height: 1.65; }
  .docs article p {
    font-size: 15px;
    line-height: 1.80; }
  .docs article > h1 {
    font-size: 42px;
    font-weight: 100;
    margin: 7px 0 0; }
  .docs article h1 + ul {
    margin: 37px 0 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    padding-bottom: 50px;
    border-bottom: 1px solid #f0f2f1;
    -webkit-font-smoothing: antialiased; }
    .docs article h1 + ul li:before {
      content: "# ";
      margin-right: .25em;
      color: #f4645f;
      opacity: .3; }
    .docs article h1 + ul li a {
      text-decoration: none; }
  .docs article li > ul {
    font-size: 15px;
    font-weight: 400;
    list-style: none; }
  .docs article h2:first-of-type {
    margin-top: 15px; }
  .docs article h2 {
    font-size: 30px;
    font-weight: 400;
    margin-top: 47px;
    position: relative; }
    .docs article h2 a,
    .docs article h2 a:hover {
      color: #525252;
      text-decoration: none; }
    .docs article h2 a:before {
      content: "#";
      margin-left: -25px;
      position: absolute;
      font-size: 28px;
      top: 3px;
      color: #f4645f;
      opacity: .6; }
  .docs article h3 {
    font-size: 24px;
    font-weight: 400;
    margin: 37px 0 7px; }
  .docs article h4 {
    font-size: 16px;
    font-weight: 700;
    margin-top: 35px; }
  .docs article a {
    text-decoration: underline; }
    .docs article a:hover {
      color: #f1362f; }
  .docs article blockquote a:hover {
    color: #fcd8d6; }
  .docs article table {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px; }
    .docs article table th,
    .docs article table td {
      border: 1px solid #dee0df;
      padding: 10px;
      text-align: left; }
    .docs article table th {
      font-size: 16px; }
  .docs article blockquote {
    border: none; }

.docs blockquote.has-icon {
  position: relative; }
  .docs blockquote.has-icon.video, .docs blockquote.has-icon.laracast {
    background: rgba(103, 58, 183, 0.62); }
  .docs blockquote.has-icon.tip {
    background: #64B5F6; }
  .docs blockquote.has-icon p {
    padding-left: 40px; }
  .docs blockquote.has-icon .flag {
    position: absolute;
    width: 30px;
    left: 15px;
    top: 10px; }
    .docs blockquote.has-icon .flag svg {
      width: 24px;
      height: 24px; }

.docs .svg svg {
  width: 24px; }

.autocomplete-wrapper .h1 {
  font-size: 16px;
  font-weight: bold; }

.autocomplete-wrapper .h2 {
  font-size: 16px;
  display: inline-block; }

.autocomplete-wrapper .h2 .hash {
  color: #F8A2A9; }

.autocomplete-wrapper .h3 {
  font-size: 16px;
  display: inline-block; }

.autocomplete-wrapper .h4 {
  font-size: 16px;
  display: inline-block; }

.autocomplete-wrapper .content {
  font-size: 13px;
  background-color: rgba(238, 238, 238, 0.35);
  padding: 10px;
  border-radius: 3px;
  margin-left: 3px;
  margin-top: 14px; }

/*# sourceMappingURL=docs.css.map */
